@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header {
  height: 50px;
  width: 100%;
  padding: 1%;
  background-color: black;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 30px;
  width: 10%;
  /* margin-left: 10px;
  margin-top: 10px; */
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}

.logo-img {
  height: 100%;
}

.logo-img:hover {
  /* background-color: brown; */
  opacity: 70%;
  height: 105%;
}

.search {
  height: 30px;
  width: 15%;
  /* background-color: yellow; */
  display: flex;
  align-items: center;
}

.search-bar {
  width: 95%;
  height: 90%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

#searchBox {
  height: 100%;
  width: 70%;
  text-indent: 3px;
  border: none;
  outline: none;
}

.search-icon {
  height: 15px;
}

.movies {
  width: 100%;
  padding: 50px 5%;
  background-color: rgb(21, 21, 21);
  display: flex;
  flex-wrap: wrap;
  column-gap: 2%;
  row-gap: 20px;
}

.movie {
  width: 18%;
  height: 300px;
  background-color: aquamarine;
  overflow: hidden;
  border-radius: 7px;
  position: relative;
  cursor: pointer;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  position: absolute;
  transition: .3s;
}

.overlay:hover{
  opacity: 60%;
}

.video{
  width: 100%;
  height: 50%;
  /* background-color: yellow; */
}

.details{
  width: 100%;
  height: 50%;
  /* background-color: blueviolet; */
  font-family: "Mukta", sans-serif;
  font-weight: 200;
  font-style: normal;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 3px;
}

.poster {
  width: 100%;
  height: 100%;
}
